# ==========================================
# Archivos de Compilación y Salida (Basura C#)
# ==========================================
**/[Bb]in/
**/[Ob]j/
**/out/
**/[L|l]og/
**/[L|l]ogs/

# ==========================================
# Configuración de IDEs / Editores
# ==========================================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ==========================================
# Paquetes NuGet y Cache
# ==========================================
*.nupkg
*.snupkg
project.lock.json
project.assets.json
.nuget/

# ==========================================
# Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db
desktop.ini